@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    scroll-behavior: smooth;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.navbar {
    background-color:rgb(118, 15, 15) ;     
    border-radius: 0px;
    display: flex;
}
.navbar ul{
overflow: auto;
}
.navbar li {
float: left;
margin: 8px 30px;                                
}
.navbar li a {
margin-top: 50px;
padding: 8px 2px; 
text-decoration: none;
color: whitesmoke;
}
ul li ul.dropdown li{
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background-color: blueviolet;
    position: absolute;

    display: none;
}
.navbar ul li:hover ul.dropdown {
    display: block;
}
.img {        
    display: block;
    margin: 0;
    padding: 0;
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* object-fit: fill; */
    /* width: 100%;   */
}
marquee {
    background-color: #011F5B;
    color: whitesmoke;
}
label {
    font-size: 56px;
    color: #3D0C02;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #FF8C00;
}  
.re {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
    width: 50%;
    border-radius: 45px;
    /* border-top-right-radius: 35px; */
    /* background-color: linear-gradient(135deg,#3D0C02,white); */
}
.ab {
    display: inline-table;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
    justify-content: space-around;
    color: white;
    background-color: #3D0C02;
    border-radius: 50px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    }
.ab a{
    text-decoration: none;
    border: 1px solid sienna;
    background-color: sienna;
    color: whitesmoke;
    border-radius: 20px;
}
.ab a:hover{
    background-color: #ff920e;
    border: 2px solid #ff920e ;                
}
.ab img{
    border-radius: 45px;
    height: 300px;
    width: 450px;
}
.con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-decoration: none;
    margin: 40px;
}
.container {
    display: inline-table;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:black;
    color: whitesmoke;
    border-radius: 15px;
    padding: 40px;
    height: 350px;
    width: 400px;
    background-image: linear-gradient(45deg,black,white);
    }
.container img{
    border-radius: 50px;
}
.checked {
    color: orange;
}
li a {
    position: relative;
  }
li a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 4px;
    width: 0;
    background: white;
    border-radius: 50px;
    transition: width 0.2s ease;
}
li a:hover::before{
    width: 100%;
}